<!DOCTYPE html>
<html>
<head>
	<title>
		부천시 도서관 통합 사이트에 오신 것을 환영합니다.
	</title>
</head>
<body>
	<h3>부천시 도서관 통합 사이트에 오신 것을 환영합니다.</h3>
	<h3>원하시는 작업을 선택해주세요.</h3>
	<ul>
		<li><a href="/sign_up">회원 등록</a></li>
		<li><a href="/research">도서 검색</a></li>
		<li><a href="/libsearch">도서관 정보 검색</a></li>
		<li><a href="/myinfo">내 정보 확인</a></li>
</body>
</html>